#easywiki {
	padding: 5px 10px;
	border: 1px solid white;
	position: fixed;
	top: 2px;
	right: 200px;
	z-index: 1000;
	background: rgba(0,0,0,.6);
	color: white;
	-webkit-transition: top .3s;
}
input#ewcheckbox:hover {
	cursor: hover;
}
input#ewsearch {
	background-image: url(http://bits.wikimedia.org/static-1.24wmf12/skins/Vector/images/search-ltr.png);
	background-repeat: no-repeat;
	background-position: right 2px center;
	border: 1px solid rgba(0, 0, 0, 0.63);
	padding: 2px 5px;
	color: grey;
	cursor: pointer;
}

.ewmenu {
	display: inline-block;
	position: relative;
	width: 10px;
	margin-right: 10px;
}
.ewsubmenu {
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.6);
	top: 28px;
	left: -170px;
	width: 200px;
	display: none
}
.ewsubmenu div {
	padding: 5px 10px;
	cursor: pointer;
	-webkit-transition: background .7s;
}

.ewsubmenu div:hover {
	cursor: pointer;
	background: black;
}

.ewmenu span {
	cursor: pointer;
}

#toc_ {
	position: fixed;
	top: 37px;
	right: 264px;
	background: rgba(0,0,0,.8);
	font-size: 12pt;
	padding: 0px;
	-webkit-box-shadow: 0px 0px 20px black;
	display: none;
	width: 250px;
}
#toc_ ul li
{
	list-style-type: none;
	padding: 2px 10px;
	position: relative;
	-webkit-transition: background .6s;
}
#toc_ ul li:hover {
	background: white;
}
#toc_ ul li:hover>a {
	color: black;
	text-decoration: none;
}
#toc_ ul li a
{
	color: white;
}
#toc_ ul li ul
{
	display: none;
}
.tocnumber
{
	display: none;
}
.px20img
{
	width: 20px;
	cursor: pointer;
}
#toc_ ul li:hover>ul {
	display: block;
	position: absolute;
	top: -10px;
	left: -283px;
	background: rgba(0,0,0,.7);
	width: 250px;
	border: 1px solid rgba(0,0,0,.7);
	border-right: none;
}
#searchsuggestions {
    position: fixed;
    display: none;
    top: 2px;
    left: 10px;
    width: 400px;
    max-height: 90%;
    border: 1px solid rgb(37, 22, 22);
    background: rgba(255,255,255,.1);
    overflow-y: auto;
}
#searchsuggestions .ew_ss_header {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,.7);
    color: white;
}
#searchsuggestions .ew_ss_results {
    background: rgba(255, 255, 255, 0.901961);
    overflow-y: auto;
    overflow-x: auto;
}
.ew_ss_close {
    border-left: 1px solid rgba(255,255,255,.6);
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(255, 0, 0, 0.33);
    width: 32px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.ew_ss_min {
    border-left: 1px solid rgba(255,255,255,.6);
    position: absolute;
    top: 0px;
    right: 32px;
    background: rgba(163, 149, 149, 0.33);
    width: 32px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.ew_ss_close:hover {
    border-left: 1px solid white;
    background: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}
.ew_ss_min:hover {
    border-left: 1px solid white;
    background: rgba(163, 149, 149, 0.8);
    cursor: pointer;
}